* {
  font-size: "18px";
  font-family: optima;
}

body {
    align-content: center;
}

h1, h2{
  color: darkmagenta;
  font-family: Papyrus, cursive;
  display: block;
  position: center;
}

form {
    display: block;
/*    text-align: left;    */
}

/*
label {
  display: inline-block;
  float: right;
  width: 250px;
  text-align: right;
}
*/

label {
  clear: left;
  width: 180px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 18px;
}

/*#product_list {*/
/*    */
/*}*/

label { 
    float: left; width: 5em; 
    margin-right: 1em; 
    text-align: right; 
}


input, label {
  float:left;
}

input[type=text], [type=tel] {
  width: 20%;
}


/*
input, p, textarea {
  display: inline-block;
  float: left;
}
*/

.error {
  color: mediumvioletred;
  padding-left: 10px;
}

input[type=text], [type=tel], select, textarea {
  padding: 12px 12px;
  border-color: dimgrey;
  border-radius: 5px;
  font-size: 14px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
  width: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

input {
  margin-bottom:16px;
}