@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Didact Gothic');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Didact Gothic', sans-serif;
/*    background: linear-gradient(#e6e6e6, #bb6b70);*/
    background: #FDFDFD;
    margin: 0;
    padding: 20px;
}

/* scrolling bar styling  */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #790e10;
}

/*  -----------------------------------------  */

#parent-div {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

#logo {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 170px;
}

h1, h2 {
    color: #790e10;
    margin-bottom: inherit;
}

/* **************** Form Section **************** */

/* ERRORS - paragraphs  */
.required-error {
    display: none;
    width: 100%;
    float: left;
    margin: 0;
    font-size: 15px;
    color: red;
    font-weight: bold;
    text-align: left;
    margin-top: 0.5em;
}

#form-container {
    min-height: 500px;
    text-align: left;
}

/* Both sections:
personal and product inputs  */
.column-details {
    width: 50%;
    float: left;
    padding: 15px;
}

.details-input {
    overflow: auto;
    padding: 10px 5px;
}

#qty-of-products {
    width: 50px;
    float: center;
}

.appended-field {
    margin-top: 15px;
}

label {
    width: 40%;
    font-weight: bold;
    float: left;
}

input, textarea, select {
    width: 60%;
    font-family: 'Poppins', sans-serif;
    float: right;
    color: black;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.09);
    border: 0;
    padding: 10px;
    border-radius: 0 0px;
}

input:focus, textarea:focus, select:focus {
    color: black;
    font-size: 12px;
    background-color: white;
    outline-color: transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: darkgrey;
}

.other-field {
    margin-top: 10px;
}

textarea {
    height: 100px;
}

#submit {
    display: block;
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
    color: white;
    background-color: #790e10;
    padding: 15px 25px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    width: inherit;
}

#reset {
    display: block;
    float: inherit;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    background-color: dimgrey;
    padding: 5px 25px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}